site_name: Enlace

theme:
  name: "material"
  palette:

  # Palette toggle for light mode
  - scheme: default
    # primary: green
    # accent: orange
    toggle:
      icon: material/brightness-7 
      name: Switch to dark mode

  # Palette toggle for dark mode
  - scheme: slate
    toggle:
      icon: material/brightness-4
      name: Switch to light mode

plugins:
  - mkdocstrings:
      handlers:
          python:
            options:
              show_if_no_docstring: false
              show_symbol_type_toc: true

nav:
  - index.md
  - tutorials.md
  - How-To Guides: how-to-guides.md
  - Reference:
    - Enlace: reference/enlace.md
    - Custom: reference/custom.md
    - Datasets: reference/datasets.md
    - Rules: reference/rules.md
  - explanation.md