.modulename {
    color: orange;
}

.pdoc {
    /* --text: #000000; */
    /* --muted: #9d9d9d; */
    --link: #58a6ff;
    /* --link-hover: #285ba8; */
    --code: #f0eee8;
    /* --active: #555; */

    --accent: #e6e3d4;
    --accent2: #f0eee8;

    /* --nav-hover: rgba(0, 0, 0, 0.1); */
    --name: #58a6ff;
    --def: #1a921a;
    /* --annotation: #00c037; */
}

.pdoc h1, .pdoc h2, .pdoc h3 {
    font-weight: 400;
    margin: .3em 0;
    padding: .2em 0;
}

.pdoc .def {
    color: var(--def);
    font-weight: bold;
    font-style: italic;
}