[data-md-color-scheme="slate"] {
  --md-default-bg-color: #1e2629;        
  --md-default-bg-color--light: #255f14;
  --md-code-bg-color: #272c2e; 

  --md-accent-fg-color: #265f14;
  --md-accent-fg-color--transparent: #265f1421;
}