name: ⚙️ docs | build and deploy

on: 
  workflow_dispatch:
  workflow_call:
  
# security: restrict permissions for CI jobs.
permissions:
  contents: read

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
      
      - run: |
          poetry run mkdocs build

      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site/

  # Deploy the artifact to GitHub pages; separate job so only actions/deploy-pages has the necessary permissions.
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4